{% extends "layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block main %}
    <div class="container" id="addEntry">
        <form action="/add" method="post">
            <div class="mb-3" style="padding-top: 5px;">
                <p class="h6 heading-custom add-page">Title: </p>
                <input class="input-custom form-control" id="title" name="title" type="text" placeholder="Title" autocomplete="off" autofocus>
            </div>
            <div class="mb-3" id="entryDiv">
                <p class="h6 heading-custom add-page">Entry: </p>
                <textarea class="input-custom form-control" name="entry" rows="15" cols="125" autocomplete="off" placeholder="Type your entry here" required></textarea>
            </div>
            <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
{% endblock %}
