{% extends "layout.html" %}

{% block title %}
    Change your Password
{% endblock %}

{% block main %}
<div class="container login">
    <form action="/register" method="post">
        <div class="mb-3">
            <h3 class="login-heading"><b>Change Your Password</b></h3>
        </div>
        <div class="mb-3 input">
            <p class="h6 heading-custom register">Old Password</p>
            <input autocomplete="off" autofocus class="input-custom form-control mx-auto w-auto" name="old" placeholder="Old Password" type="password" required>
        </div>
        
        <div class="mb-3 input">
            <p class="h6 heading-custom register">New Password</p>
            <input class="input-custom form-control mx-auto w-auto" name="new" placeholder="New Password" type="password" required>
        </div>
        
        <div class="mb-3 input">
            <p class="h6 heading-custom register">Confirm Password</p>
            <input class="input-custom form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>

        <button class="btn btn-success login" type="submit">change Password</button>
        
        <div class="register-prompt">
            <small>Forgot old password? <a href="/register">Make new account</a></small>
        </div>
        
    </form>
</div>
{% endblock %}
