.card.mb-4 {
    background-color:#121212;
    color: white;
    border-radius: 8px;
    border: 3px;
    border-color: beige;
}

body {
    background-color: #282828;
}

main {
    color: ghostwhite;
    text-shadow: #282828;
}


.input-custom {
    background-color: #121212;
    color: ghostwhite;
    border-radius: 4px;
    border-color: gray;
    outline: none;
}

.input-custom:focus {
    background-color: #121212;
    border-color: #1fdf64;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    color: ghostwhite;
}

.input-custom::placeholder {
    color: gray;
    opacity: 1;
}

.heading-custom {
    text-align: left;
    padding-left: 7%;
    font-size: small;
}

textarea {
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 8px;
    background-color: #121212;
    color: white;
    outline: none;
}


label {
    padding: 10px;
}

.navbar-custom {
    background-color: #121212;
    
}


.nav-item, .nav-link {
    color: azure !important;
}

.nav-link:hover, .nav-item:hover {
    color: #1fdf64 !important;
}

.navbar-brand {
    color: azure !important;
}

.container.login {
    border-radius: 5%;
    background-color: #121212;
    width: fit-content;
}


.login-heading {
    padding: 6px;
    font-size: x-large;
}


.mb-3.input {
    padding: 10px;

}


.register-prompt {
    padding: 10px;
}

a {
    color: ghostwhite;
}

a:hover {
    color: #1fdf64;
}


.btn-success {
    background-color: #1fdf64 !important;
    color: #121212 !important;
    text-shadow: #121212 !important;
    text-shadow: 3px;
}

.btn-success:hover {
    background-color: #198754 !important;
}

.register {
    padding-left: 9%;
}

.add-page {
    padding-left: 0%;
    font-size: medium;
}

.alert-success {
    background-color: #1fdf64;
}

.entry-text {
    color: azure;
    font-size: medium;
}

.green-brand {
    color: #1fdf64;
}

.white-brand {
    color: ghostwhite;
}

.percentages-text {
    text-align: left;
    padding-left: 6%;
    padding-bottom: 10px;
    font-size: larger;
}

hr {
    color: ghostwhite;
}

.timeframe-drop-menu {
    padding-bottom: 2.5%;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu {
    width: 100% !important;
}